.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(7, 2, 30);
  border-radius: 10px;
  background-color: var(--blue);
  cursor: pointer;
  padding: 1rem;
  color: azure;
  font-weight: bold;
  font-size: 1.5rem;
}